@font-face {
	font-family: 'Inter';
	font-weight: 400;
  src: url(Inter-Regular.woff);
}

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  src: url('Inter-Bold.woff2') format('woff2'),
       url('Inter-Bold.woff') format('woff');
}

:root,
html {
  font-size: 12px;
}

body {
	background: #111;
  color: #fff;
	font-family: 'Inter', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
  line-height: 1.5;
  margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
  padding: 1rem;
}

h1 {
	font-size: 1rem;
	font-weight: 400;
	margin: 0.5rem;
}

a {
  color: #fff;
  text-decoration: underline;
}

p {
  margin: 0.5rem;
}

p {
  margin: 0.5rem;
}

.peace {
  margin: 0.5rem;
}

.soundcloud-player {
	margin: 1rem 0.5rem 0.5rem;
	max-width: 420px;
	width: 100%;
	height: 520px;
}



